[Unit]
Description=Minecraft Server World Backup
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/minecraft-server backup %i
User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
